@font-face {
    font-family: fira-sans;
    src: url(fonts/FiraSans-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 20px;
    font-family: 'Century Schoolbook', Georgia, serif;
}

h1, h2, h3 {
    line-height: 1.2;
    font-weight: 900;
    font-family: fira-sans;
}

a {
    text-decoration: none;
    color: #7467c2;
}

pre {
    background: #e6e4ed;
    color: #222;
    page-break-inside: avoid;
    font-family: monospace;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    border-radius: 5px;
}

.center {
    display: block;
    align-items: center;
    text-align: center;
}

.tab { 
    margin-left: 40px; 
    margin-right: 40px; 
}

.fit {
    max-width: 100%;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: #CCC;
    }
    a {
        color: #84aed4
    }
    pre {
        background: #222;
        color: inherit
    }
    .invertible {
        -webkit-filter: invert(1);
        filter: invert(1);
    }
}