@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=EB+Garamond:ital,wght@0,500;1,500&family=Vollkorn:ital@0;1&display=swap');

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 20px;
    font-family: 'Vollkorn', serif;
}

h1 {
    line-height: 1.2;
    font-weight: 400;
    font-family: 'EB Garamond', serif;
}

h2 {
    line-height: 1.0;
    font-weight: 400;
    font-family: 'EB Garamond', serif;
    font-style: italic;
}

a {
    text-decoration: none;
    color: #7467c2;
}

pre {
    font-size: 0.9em;
    background: #e6e4ed;
    color: #222;
    page-break-inside: avoid;
    font-family: monospace;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    border-radius: 5px;
}

.equation {
    all: unset;
    max-width: 100%;
    overflow: auto;
    display: block;
    word-wrap: break-word;
}

.center {
    display: block;
    align-items: center;
    text-align: center;
}

.digression {
    background: #e6e4ed;
    padding: 10px 40px;
    border-radius: 5px;
}

.digression h2 {
    text-align: center;
}

.align-right {
    display: block;
}

.tab { 
    margin-left: 40px; 
    margin-right: 40px; 
}

.fit {
    max-width: 100%;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: #CCC;
    }
    a {
        color: #84aed4
    }
    pre {
        background: #222;
        color: inherit
    }
    .digression {
        background: #222;
        color: inherit
    }
    .invertible {
        -webkit-filter: invert(1);
        filter: invert(1);
    }
}